/Labirinto.class
/Stanza.class
/Direzione.class
/Labirinto$LabirintoBuilder$Pippo.class
/Labirinto$LabirintoBuilder.class
/StanzaBloccata.class
/StanzaBuia.class
/StanzaMagica.class
/StanzaMagicaProtected.class
/StanzaProtected.class
